Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
all_type_val = ['A', [1, 2, 3], 1.5, (4, 6, 8)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

var1 = string, var2 = string, var3 = list, var4 = float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
a = 7
b = 3

In [5]:
a/b

2.3333333333333335

In [6]:
a%b

1

In [7]:
a//b

2

i> / -> gives decimal value, (ii)% -> gives remainder value (iii)// -> gives integer part

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
l2 = [1, 2, 4.5, True, 1+4j,'S', [1,2,3], 'A', False, -12]
for i in l2:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'str'>
<class 'bool'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [11]:
a = 12
b = 1
while b<=a:
    if a%b==0:
        print(b)
    b = b+1

1
2
3
4
6
12

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
first_no = int(input('enter first no..'))
second_no = int(input('enter second no..'))
for i in range(first_no, second_no):
    if i % 3 == 0:
        print('no is divisible by 3', i)
    else:
        print('not divisible by 3', i)

enter first no.. 1
enter second no.. 12

not divisible by 3 1
not divisible by 3 2
no is divisible by 3 3
not divisible by 3 4
not divisible by 3 5
no is divisible by 3 6
not divisible by 3 7
not divisible by 3 8
no is divisible by 3 9
not divisible by 3 10
not divisible by 3 11

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.